# Files to ignore by git
*.pyc
*.sh
*.npy

# Paths to ignore
.ipynb_checkpoints/
.mypy_chache/
.vscode/
.pytest_cache/
__pycache__

04_vae/data/mean_sea_level_pressure_sfc_1950_2021.nc
04_vae/data/*.ipynb
04_vae/excercise_ae_slp_solution.ipynb
04_vae/excercise_cnnae_slp_solution.ipynb

03_cn/exercise_climnet_india solution.ipynb

